-- MariaDB dump 10.19  Distrib 10.4.32-MariaDB, for Win64 (AMD64)
--
-- Host: localhost    Database: pediadose
-- ------------------------------------------------------
-- Server version	10.4.32-MariaDB

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!40101 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `checks`
--

DROP TABLE IF EXISTS `checks`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `checks` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `nama_pasien` varchar(255) NOT NULL,
  `umur_bulan` int(11) NOT NULL,
  `berat_badan_kg` decimal(5,2) NOT NULL,
  `diagnosis` varchar(255) DEFAULT NULL,
  `nama_obat` varchar(255) NOT NULL,
  `dosis_per_pemberian_mg` decimal(10,2) NOT NULL,
  `frekuensi_per_hari` int(11) NOT NULL,
  `total_dosis_harian_mg` decimal(10,2) NOT NULL,
  `status` enum('Normal','Underdosing','Overdosing') NOT NULL,
  `ai_confidence_score` int(11) DEFAULT NULL,
  `waktu_cek` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=7 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `checks`
--

LOCK TABLES `checks` WRITE;
/*!40000 ALTER TABLE `checks` DISABLE KEYS */;
INSERT INTO `checks` VALUES (1,'asep',22,12.00,'Demam','Paracetamol',75.00,3,225.00,'Underdosing',96,'2026-05-04 23:43:04'),(2,'A2',144,35.00,'Flu','Amoxicillin',100.00,3,300.00,'Underdosing',75,'2026-05-04 23:47:52'),(3,'A2',156,25.00,'Flu','Amoxicillin',0.00,3,0.00,'Underdosing',80,'2026-05-04 23:53:46'),(4,'A2',156,25.00,'Flu','Amoxicillin',0.00,3,0.00,'Underdosing',86,'2026-05-04 23:53:55'),(5,'A2',156,25.00,'Flu','Amoxicillin',0.00,3,0.00,'Underdosing',97,'2026-05-04 23:54:03'),(6,'A2',156,25.00,'Flu','Amoxicillin',0.00,3,0.00,'Underdosing',86,'2026-05-04 23:55:43');
/*!40000 ALTER TABLE `checks` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `drugs`
--

DROP TABLE IF EXISTS `drugs`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `drugs` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `nama_obat` varchar(255) NOT NULL,
  `diagnosis` varchar(255) DEFAULT NULL,
  `dosis_dewasa` varchar(255) DEFAULT NULL,
  `dosis_dewasa_satuan` varchar(50) DEFAULT 'mg',
  `min_mg_per_kg_per_day` decimal(10,2) NOT NULL,
  `max_mg_per_kg_per_day` decimal(10,2) NOT NULL,
  `catatan` text DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `drugs`
--

LOCK TABLES `drugs` WRITE;
/*!40000 ALTER TABLE `drugs` DISABLE KEYS */;
/*!40000 ALTER TABLE `drugs` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `kalkulator_history`
--

DROP TABLE IF EXISTS `kalkulator_history`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `kalkulator_history` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `dosis_dewasa_mg` decimal(10,2) NOT NULL,
  `rumus` varchar(50) NOT NULL,
  `parameter_nilai` varchar(100) NOT NULL,
  `sediaan` varchar(50) NOT NULL,
  `hasil_dosis_anak_mg` decimal(10,2) NOT NULL,
  `hasil_konversi_teks` text NOT NULL,
  `waktu_kalkulasi` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `kalkulator_history`
--

LOCK TABLES `kalkulator_history` WRITE;
/*!40000 ALTER TABLE `kalkulator_history` DISABLE KEYS */;
INSERT INTO `kalkulator_history` VALUES (1,500.00,'Rumus Clark (Berdasarkan Berat Badan)','30 kg','sirup',214.30,'<strong>4 ml</strong> per pemberian (Sediaan 300 mg / 5 ml).','2026-05-12 01:23:34'),(2,500.00,'Rumus Clark (Berdasarkan Berat Badan)','20 kg','sirup',142.90,'<strong>6 ml</strong> per pemberian (Sediaan 120 mg / 5 ml).','2026-05-12 01:28:06'),(3,100.00,'Rumus Young (Anak < 12 tahun)','7 Tahun','tablet',36.80,'<strong>0.4 Tablet/Puyer</strong> per pemberian (Sediaan 100 mg/tablet).','2026-05-12 01:30:09');
/*!40000 ALTER TABLE `kalkulator_history` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-05-18 19:34:49
